@{
    ViewBag.Title = "Home Page";
}
<!-- calc size here based on number of element-->
@model List<GraphService.FrontendNode>
<svg width="@(ViewBag.CanvasWidth)px" height="@(ViewBag.CanvasHeight)px">

    @foreach (GraphService.FrontendNode element in Model)
    {
        <g id="@Html.DisplayFor(m => element.NodeID)">
            <circle cx="@Html.DisplayFor(m => element.PosX)" cy="@Html.DisplayFor(m => element.PosY)" r="60" stroke="black" stroke-width="4" fill="white" />
            <text x="@Html.DisplayFor(m => element.PosX)" y="@Html.DisplayFor(m => element.PosY)" text-anchor="middle" stroke="black" dy=".3em" font-family="Verdana" font-size="20">@Html.DisplayFor(m => element.Label)</text>
        </g>
    }
</svg>
@section Scripts{
<script type="text/javascript">
    @foreach (GraphService.FrontendNode element in Model)
    {
        <text>
            $("#@Html.DisplayFor(m => element.NodeID)").on("click", function ()
            {
                if ($("#txtNodeStart").val() != "" && $("#txtNodeEnd").val() != "") {
                    $("#txtNodeStart").val("@Html.DisplayFor(m => element.NodeID)");
                    $("#txtNodeEnd").val("");
                }
                else if ($("#txtNodeStart").val() == "")
                {
                    $("#txtNodeStart").val("@Html.DisplayFor(m => element.NodeID)");
                }
                else {
                    $("#txtNodeEnd").val("@Html.DisplayFor(m => element.NodeID)");
                }
            });
        </text>
    }
</script>
}

@using (Html.BeginForm("CalcRoute", "Home", FormMethod.Post))
{
<div style="position: fixed; bottom: 20px; right: 20px;">
    <table>
        <tr>
            <td>
                @Html.TextBox("txtNodeStart")
                @Html.TextBox("txtNodeEnd")
                <input type="submit" name="btnSubmit" value="Calculate Shortest Route" />
            </td>
        </tr>
    </table>
</div>
    }